<a href="https://colab.research.google.com/github/khalidpark/TIL-and-TIW/blob/main/10minutes_pandas/10minutes_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
dates = pd.date_range("20200303", periods=6)

In [7]:
dates

DatetimeIndex(['2020-03-03', '2020-03-04', '2020-03-05', '2020-03-06',
               '2020-03-07', '2020-03-08'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

In [9]:
df

                   A         B         C         D
2020-03-03 -0.342181  0.584286  0.339668  0.535086
2020-03-04  0.063037  1.691796  1.407219 -0.458144
2020-03-05 -0.425881  0.042158  0.831532 -0.689215
2020-03-06 -2.486717  0.482632 -0.768871 -0.586830
2020-03-07  0.071472 -0.099634  0.289024 -0.327808
2020-03-08 -0.024211  0.565103 -0.060333  0.143922

In [11]:
#데이터프레임 데이터 생성하는 여러가지 방법


df2 = pd.DataFrame(
        {
            "A": 1.0,
            "B": pd.Timestamp("20130102"),
            "C": pd.Series(1, index=list(range(4)), dtype="float32"),
            "D": np.array([3] * 4, dtype="int32"),
            "E": pd.Categorical(["test", "train", "test", "train"]),
            "F": "foo",
        }
    )

In [12]:
 df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [13]:
#dtypes 확인하고싶을때
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [15]:
df2.A

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

In [16]:
df.head()

                   A         B         C         D
2020-03-03 -0.342181  0.584286  0.339668  0.535086
2020-03-04  0.063037  1.691796  1.407219 -0.458144
2020-03-05 -0.425881  0.042158  0.831532 -0.689215
2020-03-06 -2.486717  0.482632 -0.768871 -0.586830
2020-03-07  0.071472 -0.099634  0.289024 -0.327808

In [17]:
#뒤쪽보고싶을때
df.tail(3)

                   A         B         C         D
2020-03-06 -2.486717  0.482632 -0.768871 -0.586830
2020-03-07  0.071472 -0.099634  0.289024 -0.327808
2020-03-08 -0.024211  0.565103 -0.060333  0.143922

In [18]:
df.index

DatetimeIndex(['2020-03-03', '2020-03-04', '2020-03-05', '2020-03-06',
               '2020-03-07', '2020-03-08'],
              dtype='datetime64[ns]', freq='D')

In [19]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [20]:
df.to_numpy()

array([[-0.34218134,  0.58428561,  0.33966818,  0.53508604],
       [ 0.0630365 ,  1.69179602,  1.40721946, -0.45814389],
       [-0.42588067,  0.04215841,  0.83153188, -0.6892154 ],
       [-2.48671666,  0.48263238, -0.76887094, -0.58683011],
       [ 0.07147234, -0.09963371,  0.28902384, -0.32780764],
       [-0.02421083,  0.56510349, -0.06033282,  0.14392158]])

In [21]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [22]:
#개요
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.524080  0.544390  0.339707 -0.230498
std    0.984269  0.630774  0.744717  0.474341
min   -2.486717 -0.099634 -0.768871 -0.689215
25%   -0.404956  0.152277  0.027006 -0.554659
50%   -0.183196  0.523868  0.314346 -0.392976
75%    0.041225  0.579490  0.708566  0.025989
max    0.071472  1.691796  1.407219  0.535086

In [23]:
#전환
df.T

   2020-03-03  2020-03-04  2020-03-05  2020-03-06  2020-03-07  2020-03-08
A   -0.342181    0.063037   -0.425881   -2.486717    0.071472   -0.024211
B    0.584286    1.691796    0.042158    0.482632   -0.099634    0.565103
C    0.339668    1.407219    0.831532   -0.768871    0.289024   -0.060333
D    0.535086   -0.458144   -0.689215   -0.586830   -0.327808    0.143922