<a href="https://colab.research.google.com/github/khalidpark/TIL-and-TIW/blob/main/10minutes_pandas/10minutes_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

# Object creation

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range("20200303", periods=6)

In [5]:
dates

DatetimeIndex(['2020-03-03', '2020-03-04', '2020-03-05', '2020-03-06',
               '2020-03-07', '2020-03-08'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

In [7]:
df

                   A         B         C         D
2020-03-03  2.313483  0.612654  0.738314 -2.478506
2020-03-04 -0.198992 -0.523496  0.412452  1.395308
2020-03-05 -0.790158  0.126606 -0.288890 -0.164961
2020-03-06  1.225168 -1.774296 -0.387905 -1.110618
2020-03-07  1.305717  1.346524  2.350247 -0.557090
2020-03-08  1.595868 -0.755626 -1.557456 -0.218087

In [8]:
#데이터프레임 데이터 생성하는 여러가지 방법


df2 = pd.DataFrame(
        {
            "A": 1.0,
            "B": pd.Timestamp("20130102"),
            "C": pd.Series(1, index=list(range(4)), dtype="float32"),
            "D": np.array([3] * 4, dtype="int32"),
            "E": pd.Categorical(["test", "train", "test", "train"]),
            "F": "foo",
        }
    )

In [9]:
 df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [10]:
#dtypes 확인하고싶을때
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [11]:
df2.A

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

# Viewing data

In [12]:
df.head()

                   A         B         C         D
2020-03-03  2.313483  0.612654  0.738314 -2.478506
2020-03-04 -0.198992 -0.523496  0.412452  1.395308
2020-03-05 -0.790158  0.126606 -0.288890 -0.164961
2020-03-06  1.225168 -1.774296 -0.387905 -1.110618
2020-03-07  1.305717  1.346524  2.350247 -0.557090

In [13]:
#뒤쪽보고싶을때
df.tail(3)

                   A         B         C         D
2020-03-06  1.225168 -1.774296 -0.387905 -1.110618
2020-03-07  1.305717  1.346524  2.350247 -0.557090
2020-03-08  1.595868 -0.755626 -1.557456 -0.218087

In [14]:
df.index

DatetimeIndex(['2020-03-03', '2020-03-04', '2020-03-05', '2020-03-06',
               '2020-03-07', '2020-03-08'],
              dtype='datetime64[ns]', freq='D')

In [15]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [16]:
df.to_numpy()

array([[ 2.31348348,  0.61265373,  0.73831359, -2.47850649],
       [-0.19899162, -0.52349563,  0.41245199,  1.39530799],
       [-0.79015763,  0.12660589, -0.28888975, -0.16496102],
       [ 1.22516826, -1.77429648, -0.38790545, -1.11061811],
       [ 1.30571659,  1.34652416,  2.35024734, -0.55709003],
       [ 1.59586802, -0.75562649, -1.55745557, -0.21808715]])

In [17]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [18]:
#개요
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.908515 -0.161272  0.211127 -0.522326
std    1.167603  1.099236  1.313852  1.270553
min   -0.790158 -1.774296 -1.557456 -2.478506
25%    0.157048 -0.697594 -0.363152 -0.972236
50%    1.265442 -0.198445  0.061781 -0.387589
75%    1.523330  0.491142  0.656848 -0.178243
max    2.313483  1.346524  2.350247  1.395308

In [19]:
#전환
df.T

   2020-03-03  2020-03-04  2020-03-05  2020-03-06  2020-03-07  2020-03-08
A    2.313483   -0.198992   -0.790158    1.225168    1.305717    1.595868
B    0.612654   -0.523496    0.126606   -1.774296    1.346524   -0.755626
C    0.738314    0.412452   -0.288890   -0.387905    2.350247   -1.557456
D   -2.478506    1.395308   -0.164961   -1.110618   -0.557090   -0.218087

In [20]:
#index sort
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2020-03-03 -2.478506  0.738314  0.612654  2.313483
2020-03-04  1.395308  0.412452 -0.523496 -0.198992
2020-03-05 -0.164961 -0.288890  0.126606 -0.790158
2020-03-06 -1.110618 -0.387905 -1.774296  1.225168
2020-03-07 -0.557090  2.350247  1.346524  1.305717
2020-03-08 -0.218087 -1.557456 -0.755626  1.595868

In [22]:
df.sort_index(axis=1, ascending=False)

                   A         B         C         D
2020-03-03  2.313483  0.612654  0.738314 -2.478506
2020-03-04 -0.198992 -0.523496  0.412452  1.395308
2020-03-05 -0.790158  0.126606 -0.288890 -0.164961
2020-03-06  1.225168 -1.774296 -0.387905 -1.110618
2020-03-07  1.305717  1.346524  2.350247 -0.557090
2020-03-08  1.595868 -0.755626 -1.557456 -0.218087

In [21]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2020-03-08  1.595868 -0.755626 -1.557456 -0.218087
2020-03-07  1.305717  1.346524  2.350247 -0.557090
2020-03-06  1.225168 -1.774296 -0.387905 -1.110618
2020-03-05 -0.790158  0.126606 -0.288890 -0.164961
2020-03-04 -0.198992 -0.523496  0.412452  1.395308
2020-03-03  2.313483  0.612654  0.738314 -2.478506

In [25]:
# B 값을 기준으로 정렬
# True , 오름차순

df.sort_values(by="B", ascending=True)

                   A         B         C         D
2020-03-06  1.225168 -1.774296 -0.387905 -1.110618
2020-03-08  1.595868 -0.755626 -1.557456 -0.218087
2020-03-04 -0.198992 -0.523496  0.412452  1.395308
2020-03-05 -0.790158  0.126606 -0.288890 -0.164961
2020-03-03  2.313483  0.612654  0.738314 -2.478506
2020-03-07  1.305717  1.346524  2.350247 -0.557090

In [27]:
# B 값을 기준으로 정렬
# False , 내림차순

df.sort_values(by="B", ascending=False)

                   A         B         C         D
2020-03-07  1.305717  1.346524  2.350247 -0.557090
2020-03-03  2.313483  0.612654  0.738314 -2.478506
2020-03-05 -0.790158  0.126606 -0.288890 -0.164961
2020-03-04 -0.198992 -0.523496  0.412452  1.395308
2020-03-08  1.595868 -0.755626 -1.557456 -0.218087
2020-03-06  1.225168 -1.774296 -0.387905 -1.110618

# Selection

In [28]:
df["A"]

2020-03-03    2.313483
2020-03-04   -0.198992
2020-03-05   -0.790158
2020-03-06    1.225168
2020-03-07    1.305717
2020-03-08    1.595868
Freq: D, Name: A, dtype: float64

In [30]:
# 0 행부터 2행까지

df[0:3]

                   A         B         C         D
2020-03-03  2.313483  0.612654  0.738314 -2.478506
2020-03-04 -0.198992 -0.523496  0.412452  1.395308
2020-03-05 -0.790158  0.126606 -0.288890 -0.164961

In [31]:
df.loc[dates[0]]

A    2.313483
B    0.612654
C    0.738314
D   -2.478506
Name: 2020-03-03 00:00:00, dtype: float64

In [32]:
df.loc[:, ["A", "B"]]

                   A         B
2020-03-03  2.313483  0.612654
2020-03-04 -0.198992 -0.523496
2020-03-05 -0.790158  0.126606
2020-03-06  1.225168 -1.774296
2020-03-07  1.305717  1.346524
2020-03-08  1.595868 -0.755626

In [34]:
df.loc["20200303":"20200305", ["A", "B"]]

                   A         B
2020-03-03  2.313483  0.612654
2020-03-04 -0.198992 -0.523496
2020-03-05 -0.790158  0.126606

In [37]:
df.loc["20200303", ["A", "B"]]

A    2.313483
B    0.612654
Name: 2020-03-03 00:00:00, dtype: float64

In [38]:
df.loc[dates[0], "A"]

2.3134834786882617

In [39]:
df.at[dates[0], "A"]

2.3134834786882617

In [40]:
# 4행 값 4행 값

df.iloc[3]

df.iloc[3]

A    1.225168
B   -1.774296
C   -0.387905
D   -1.110618
Name: 2020-03-06 00:00:00, dtype: float64

In [41]:
#3~4행 값
#0~1열 값

df.iloc[3:5, 0:2]

                   A         B
2020-03-06  1.225168 -1.774296
2020-03-07  1.305717  1.346524

In [42]:
#1,2,4 행
#0,2 열1,2,4 행
#0,2 열
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2020-03-04 -0.198992  0.412452
2020-03-05 -0.790158 -0.288890
2020-03-07  1.305717  2.350247

In [43]:
# 1,2 행
# 모든 열 1,2 행
# 모든 열

df.iloc[1:3, :]

df.iloc[1:3, :]

                   A         B         C         D
2020-03-04 -0.198992 -0.523496  0.412452  1.395308
2020-03-05 -0.790158  0.126606 -0.288890 -0.164961

In [45]:
# 모든행
# 1,2 열

df.iloc[:, 1:3]

                   B         C
2020-03-03  0.612654  0.738314
2020-03-04 -0.523496  0.412452
2020-03-05  0.126606 -0.288890
2020-03-06 -1.774296 -0.387905
2020-03-07  1.346524  2.350247
2020-03-08 -0.755626 -1.557456

In [46]:
# 1행 1열 값 1행 1열 값

df.iloc[1, 1]

df.iloc[1, 1]

-0.5234956333470843

In [47]:
df.iat[1, 1]

-0.5234956333470843

In [48]:
df[df["A"] > 0]

                   A         B         C         D
2020-03-03  2.313483  0.612654  0.738314 -2.478506
2020-03-06  1.225168 -1.774296 -0.387905 -1.110618
2020-03-07  1.305717  1.346524  2.350247 -0.557090
2020-03-08  1.595868 -0.755626 -1.557456 -0.218087

In [50]:
df[df > 0]

                   A         B         C         D
2020-03-03  2.313483  0.612654  0.738314       NaN
2020-03-04       NaN       NaN  0.412452  1.395308
2020-03-05       NaN  0.126606       NaN       NaN
2020-03-06  1.225168       NaN       NaN       NaN
2020-03-07  1.305717  1.346524  2.350247       NaN
2020-03-08  1.595868       NaN       NaN       NaN

In [51]:
df2 = df.copy()

In [52]:
df2["E"] = ["one", "one", "two", "three", "four", "three"]

In [53]:
df2

                   A         B         C         D      E
2020-03-03  2.313483  0.612654  0.738314 -2.478506    one
2020-03-04 -0.198992 -0.523496  0.412452  1.395308    one
2020-03-05 -0.790158  0.126606 -0.288890 -0.164961    two
2020-03-06  1.225168 -1.774296 -0.387905 -1.110618  three
2020-03-07  1.305717  1.346524  2.350247 -0.557090   four
2020-03-08  1.595868 -0.755626 -1.557456 -0.218087  three

In [54]:
df2[df2["E"].isin(["two", "four"])]

                   A         B         C         D     E
2020-03-05 -0.790158  0.126606 -0.288890 -0.164961   two
2020-03-07  1.305717  1.346524  2.350247 -0.557090  four

In [59]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range("20200303", periods=6))

In [60]:
s1

2020-03-03    1
2020-03-04    2
2020-03-05    3
2020-03-06    4
2020-03-07    5
2020-03-08    6
Freq: D, dtype: int64

In [61]:
df["F"] = s1

In [62]:
df.at[dates[0], "A"] = 0

In [63]:
df.iat[0, 1] = 0

In [64]:
df.loc[:, "D"] = np.array([5] * len(df))

In [65]:
df

                   A         B         C  D  F
2020-03-03  0.000000  0.000000  0.738314  5  1
2020-03-04 -0.198992 -0.523496  0.412452  5  2
2020-03-05 -0.790158  0.126606 -0.288890  5  3
2020-03-06  1.225168 -1.774296 -0.387905  5  4
2020-03-07  1.305717  1.346524  2.350247  5  5
2020-03-08  1.595868 -0.755626 -1.557456  5  6

In [66]:
df2 = df.copy()

In [67]:
df2[df2 > 0] = -df2

In [68]:
df2

                   A         B         C  D  F
2020-03-03  0.000000  0.000000 -0.738314 -5 -1
2020-03-04 -0.198992 -0.523496 -0.412452 -5 -2
2020-03-05 -0.790158 -0.126606 -0.288890 -5 -3
2020-03-06 -1.225168 -1.774296 -0.387905 -5 -4
2020-03-07 -1.305717 -1.346524 -2.350247 -5 -5
2020-03-08 -1.595868 -0.755626 -1.557456 -5 -6

In [71]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ["E"])

In [72]:
df1.loc[dates[0] : dates[1], "E"] = 1

In [73]:
df1

                   A         B         C  D  F    E
2020-03-03  0.000000  0.000000  0.738314  5  1  1.0
2020-03-04 -0.198992 -0.523496  0.412452  5  2  1.0
2020-03-05 -0.790158  0.126606 -0.288890  5  3  NaN
2020-03-06  1.225168 -1.774296 -0.387905  5  4  NaN

In [74]:
df1.dropna(how="any")

                   A         B         C  D  F    E
2020-03-03  0.000000  0.000000  0.738314  5  1  1.0
2020-03-04 -0.198992 -0.523496  0.412452  5  2  1.0

In [75]:
df1.fillna(value=5)

                   A         B         C  D  F    E
2020-03-03  0.000000  0.000000  0.738314  5  1  1.0
2020-03-04 -0.198992 -0.523496  0.412452  5  2  1.0
2020-03-05 -0.790158  0.126606 -0.288890  5  3  5.0
2020-03-06  1.225168 -1.774296 -0.387905  5  4  5.0

In [76]:
pd.isna(df1)

                A      B      C      D      F      E
2020-03-03  False  False  False  False  False  False
2020-03-04  False  False  False  False  False  False
2020-03-05  False  False  False  False  False   True
2020-03-06  False  False  False  False  False   True

# Operation

In [77]:
df.mean()

A    0.522934
B   -0.263381
C    0.211127
D    5.000000
F    3.500000
dtype: float64

In [78]:
df.mean(1)

2020-03-03    1.347663
2020-03-04    1.337993
2020-03-05    1.409512
2020-03-06    1.612593
2020-03-07    3.000498
2020-03-08    2.056557
Freq: D, dtype: float64

In [79]:
#shift , 2칸 미루기shift , 2칸 미루기

s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)

s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)

In [80]:
s

2020-03-03    NaN
2020-03-04    NaN
2020-03-05    1.0
2020-03-06    3.0
2020-03-07    5.0
2020-03-08    NaN
Freq: D, dtype: float64

In [83]:
df

                   A         B         C  D  F
2020-03-03  0.000000  0.000000  0.738314  5  1
2020-03-04 -0.198992 -0.523496  0.412452  5  2
2020-03-05 -0.790158  0.126606 -0.288890  5  3
2020-03-06  1.225168 -1.774296 -0.387905  5  4
2020-03-07  1.305717  1.346524  2.350247  5  5
2020-03-08  1.595868 -0.755626 -1.557456  5  6

In [81]:
#df 에서 s를 모두 뺀 값 , s가 결측치면 나오는값도 결측치df 에서 s를 모두 뺀 값 , s가 결측치면 나오는값도 결측치

df.sub(s, axis="index")

df.sub(s, axis="index")

                   A         B         C    D    F
2020-03-03       NaN       NaN       NaN  NaN  NaN
2020-03-04       NaN       NaN       NaN  NaN  NaN
2020-03-05 -1.790158 -0.873394 -1.288890  4.0  2.0
2020-03-06 -1.774832 -4.774296 -3.387905  2.0  1.0
2020-03-07 -3.694283 -3.653476 -2.649753  0.0  0.0
2020-03-08       NaN       NaN       NaN  NaN  NaN

In [84]:
#cumsum ?

df.apply(np.cumsum)

                   A         B         C   D   F
2020-03-03  0.000000  0.000000  0.738314   5   1
2020-03-04 -0.198992 -0.523496  1.150766  10   3
2020-03-05 -0.989149 -0.396890  0.861876  15   6
2020-03-06  0.236019 -2.171186  0.473970  20  10
2020-03-07  1.541736 -0.824662  2.824218  25  15
2020-03-08  3.137604 -1.580289  1.266762  30  21

In [85]:
df.apply(lambda x: x.max() - x.min())

A    2.386026
B    3.120821
C    3.907703
D    0.000000
F    5.000000
dtype: float64

In [88]:
s = pd.Series(np.random.randint(0, 7, size=10))

In [89]:
s

0    1
1    4
2    0
3    2
4    4
5    5
6    3
7    5
8    1
9    3
dtype: int64

In [90]:
s.value_counts()

5    2
4    2
3    2
1    2
2    1
0    1
dtype: int64

In [91]:
s = pd.Series(["A", "B", "C", "Aaba", "Baca", np.nan, "CABA", "dog", "cat"])

In [92]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

# Merge