<a href="https://colab.research.google.com/github/khalidpark/TIL-and-TIW/blob/main/python%26problemsolving/N512.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# (파이썬) 프로그래밍

In [ ]:
# 인트로 문제

# 1부터 50까지 숫자 출력하기

# case 1 - 반복문
# i = [] 
# for i in range(1,50):
#   i =i.append()
#   print(i)

# case 2 - 컴프리헨션
[i for i in range(1,51)]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50]

In [ ]:
# 3과 5의 공배수 구하기

# case 1
for i in range(1,51):
  if i%3==0 and i%5==0:
    print(i)

# case 2
[i for i in range(1,51) if i%3==0 and i%5==0]

15
30
45

[15, 30, 45]

In [ ]:
# 2부터 20까지 출력하기(단, 8을 제외하시오)

for i in range(2,21):
  if i == 8:
    print()
    continue
  print(i , end= ' ')

2 3 4 5 6 7
9 10 11 12 13 14 15 16 17 18 19 20

# 의사코드

In [ ]:
# 의사코드 예시1

function divis
For반복문 (i = 1부터 i<=100까지, 반복할때마다 i값 1씩 증가) 
{
    If i가 3으로 나눠지는 경우,
        print 3으로 나눠진다.
    If i is divisible by 5
        print 5로 나눠진다.
    If print_number, print i.
    print 줄바꿈.
}

In [ ]:
# 의사코드 예시2에 대한 실제 실행되는 코드

def div():
  for i in range(0,10):
    if i % 3 == 0: # i를 3으로 나눴을 때 나머지가 0인 경우
      print('숫자',i, '=>','3으로 나눠짐')
    elif i % 5 == 0: # i를 5로 나눴을 때 나머지가 0인 경우
      print('숫자',i, '=>','5로 나눠짐')
    # if i % 5 == 0: # i를 5로 나눴을 때 나머지가 0인 경우
    #   print('숫자',i, '=>','5로 나눠짐')
    else: 
      print('그외',i, '=>','숫자 3과 5로 나눠지지 않음')
    
div()

숫자 0 => 3으로 나눠짐
그외 1 => 숫자 3과 5로 나눠지지 않음
그외 2 => 숫자 3과 5로 나눠지지 않음
숫자 3 => 3으로 나눠짐
그외 4 => 숫자 3과 5로 나눠지지 않음
숫자 5 => 5로 나눠짐
숫자 6 => 3으로 나눠짐
그외 7 => 숫자 3과 5로 나눠지지 않음
그외 8 => 숫자 3과 5로 나눠지지 않음
숫자 9 => 3으로 나눠짐

# 컴프리헨션(comprehension)

In [ ]:
numbers = [1, 2, 3, 4]
squares = []

for n in numbers:
  squares.append(n**2)

print(squares)

[1, 4, 9, 16]

In [ ]:
numbers = [1, 2, 3, 4]
squares = [n**2 for n in numbers]

print(squares)

[1, 4, 9, 16]



---

In [ ]:
list_a = [1, 2, 3, 4]
list_b = [2, 3, 4, 5]

common_num = []

for a in list_a:
  for b in list_b:
    if a == b:
      common_num.append(a)
      
print(common_num)

[2, 3, 4]

In [ ]:
list_a = [1, 2, 3, 4]
list_b = [2, 3, 4, 5]

common_num = [a for a in list_a for b in list_b if a == b]

print(common_num)

[2, 3, 4]

In [ ]:
# 딕셔너리 컴프리헨션

test = {'A': 5, 'B': 7, 'C': 9, 'D': 6, 'E': 10} 

test = {na:test for na,test in test.items() if na != 'E'}
print(test)

{'A': 5, 'B': 7, 'C': 9, 'D': 6}

In [ ]:
# 아래와 같이 조건을 반복문 대신 조건을 먼저 쓸 수 있다.
# 조건을 위해 if를 사용하는 경우 else를 작성해줘야된다.

pas = {name: 'PASS' if numbers > 8 else 'NO PASS' for name, numbers in numbers.items()}
print(pas)

AttributeError: ignored

In [ ]:
# 아래처럼 반복문을 연속으로 작성가능하다.
# set은 특성상 중복값을 제외한다.

print('list for loop : ',[n for n in range(1, 5+1) for n in range(1, 5+1)])

print('set for loop : ',{n for n in range(1, 5+1) for n in range(1, 5+1)})

list for loop :  [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
set for loop :  {1, 2, 3, 4, 5}

In [ ]:
# 두개의 리스트를 하나의 딕셔너리로 합침. 
# 하나는 key, 또 다른 하나는 value로 사용한다
subjects = ['math', 'history', 'english', 'computer engineering']
scores = [90, 80, 95, 100]
score_dict = {key: value for key, value in zip(subjects, scores)}
print(score_dict)

# 튜플 리스트를 딕셔너리 형태로 변환
score_tuples = [('math', 90), ('history', 80), ('english', 95), ('computer engineering', 100)]
score_dict = {t[0]: t[1] for t in score_tuples}
print(score_dict)

{'math': 90, 'history': 80, 'english': 95, 'computer engineering': 100}
{'math': 90, 'history': 80, 'english': 95, 'computer engineering': 100}

# 지역변수와 전역변수

In [ ]:
# 아래 소스코드를 한 줄씩 실행하면서 지역변수와 전역변수에 대해 파악한다.

g_var = 'g_var'   # 전역변수

  
# 값 수정후(수정값)
def variables():
  
  global glo_var  # global 전역변수
  glo_var = 'glo_var' # global 전역변수에 새로운 값 할당
  lo_var = 'lo_var'   # 지역변수

  print()
  print('(값 수정후)함수 안에서 g_var(전역변수) : ', g_var)  # 수정되지 않고 초기값을 출력함
  print('(값 수정후)함수 안에서 glo_var(global 전역변수) : ', glo_var)  # 함수에서 수정된 후 값을 출력함
  print('함수 안에서 lo_var(지역변수) : ', lo_var)    # 특정 함수에서만 출력되는 지역변수

# 전역변수를 파라미터로 담은 함수
def second_variables(glo_var,g_var):
  glo_var = 'glo_var in second_variables()'
  g_var = 'g_var in second_variables()'
  lo_var = 'second lo_var'
  print('서로 다른 함수에서 지역변수이름이 같은 경우 :',lo_var)
  
  return glo_var,g_var
  
# 값 수정전(초기값)
g_var = 'g_var_new_value'
glo_var = 'glo_var_new_value'
print('(값 수정전)함수 밖에서 g_var(전역변수) : ', g_var)  
print('(값 수정전)함수 밖에서 glo_var(global 전역변수) : ', glo_var) # 새로 할당된 값으로 수정됨
# print('함수 밖에서 lo_var(지역변수) : ', lo_var) # 특정 함수 안에서만 사용하는 지역변수이므로 출력안됨

# 전역변수의 값 수정
#print('함수의 파라미터가 전역변수인 경우 :', second_variables(glo_var, g_var))

# 지역변수를 갖고 오는 경우
#print('함수의 파라미터가 지역변수인 경우 :', second_variables(glo_var, lo_var))

# 함수에서 수정된 전역변수 재호출
print('전역변수값 :',glo_var, g_var)

variables()

(값 수정전)함수 밖에서 g_var(전역변수) :  g_var_new_value
(값 수정전)함수 밖에서 glo_var(global 전역변수) :  glo_var_new_value
전역변수값 : glo_var_new_value g_var_new_value

(값 수정후)함수 안에서 g_var(전역변수) :  g_var_new_value
(값 수정후)함수 안에서 glo_var(global 전역변수) :  glo_var
함수 안에서 lo_var(지역변수) :  lo_var

# 구문 및 예외상황

파이썬에서는 루프가 반복 수행하는 내부 구문 바로 다음에 if 없이도 else 구문을 추가할 수 있다.

if/else 구문에서 else는 '앞의 구문이 수행되지 않으면 else구문을 수행하시오' 라는 뜻이다.

In [1]:
for i in range(3):
  print('loop : ', i) # 1) 루프반복수행
else : 
  print('Else statement') # 2) else 구문 추가수행

loop :  0
loop :  1
loop :  2
Else statement

try/except 구문 또한 이 구문 앞의 try 구문을 수행하다가 예외발생 시, except 구문을 수행하시오' 라는 뜻이다.

In [2]:
# 그렇다면 break문이 있다면?
for i in range(3):
  print('loop : ', i) # 1) 루프반복수행
  if i == 1:
    break     # break는 어떤 영향을 줄 것인가?
else : 
  print('Else statement') # 2) else 구문 추가수행

loop :  0
loop :  1

In [3]:
# 반복문에 빈 리스트를 넣으면 어떻게 될까?
for i in []:
  print('loop : ', i) # 1) 루프반복수행
else : 
  print('Else statement') # 2) else 구문 추가수행

Else statement

In [4]:
# 반복문이 while 형태로 False인 경우에는 어떨까?
while False:
  print('loop : ', i) # 1) 루프반복수행
else : 
  print('Else statement') # 2) else 구문 추가수행

Else statement

In [5]:
# 서로소 판별문제
p_a = 5
p_b = 3

for i in range(2, min(p_a, p_b) +1):    
  print('testing ....', i)

  if p_a % i == 0 and p_b % i == 0:
    print('서로소가 아닙니다.')
    break

else:
  print('서로소입니다.')

testing .... 2
testing .... 3
서로소입니다.

자세히보기 : 반복문 다음에 else가 나오는 것은 좋지 않으므로 다른 해결법을 보자.

반복문 이후, else를 사용하는 경우 대부분의 else가 즉시 실행된다.

루프에서 break를 활용해야지만 else 실행을 막을 수 있다.

In [6]:
# else의 안 좋은 활용예시1

for i in []:
  print('실행안됨')

else:
  print('실행되면 안됨')

실행되면 안됨

In [7]:
# else의 안 좋은 활용예시2

while False:
    print('실행안됨')
  
else:
    print('실행되면 안됨')

실행되면 안됨

위처럼 else의 활용이 되었던 이유는 else가 반복문이후에 예외사항을 확인시켜줄 수 있었기때문이다.

그래서 아래와 같이 함수와 assert를 활용하여 else의 무분별한 활용을 줄일 수 있다.

In [8]:
# 첫번째방법. 조건에 맞는 경우, 함수에서 부울값을 반환해주는 방법
def bool_return(v1, v2):
  for i in range(2, min(v1, v2) +1):
    if v1 % i == 0 and v2 % i == 0:
      return False
  return True

# 조건점검
#assert bool_return(4,9), '서로소입니다.'
#assert bool_return(3,6), '코드 점검 메시지입니다.'
assert not bool_return(3,6), '서로소 아닙니다.'

print('bool_return:',bool_return(4,9))    # 디폴트값 반환

bool_return: True

assert '조건', '에러메시지' : 조건이 맞지 않는 경우, 에러메시지(Assertion Error)를 띄워준다.

assert()는 방어적 프로그래밍(defensive programming) 방법 중 하나이며, 코드를 점검하는데 사용된다.

In [9]:
# 두번째방법. 조건에 맞는 경우, 함수에서 결과값 변수를 반환해주고 break로 빠져나온다.
def variable_return(p_a, p_b):
  is_variable = True
  for i in range(2, min(p_a, p_b) +1):
    if p_a % i == 0 and p_b % i == 0:
      is_variable = False
      break
  return is_variable

# 조건점검
assert variable_return(4,9), '서로소입니다.'
#assert variable_return(3,6), '코드 점검 메시지입니다2.'
assert not variable_return(3,6), '서로소 아닙니다.'

print('variable_return:',variable_return(4,9))    # 변수값 반환

variable_return: True

try / except / raise / finally 구문

In [10]:
# try / except
try:
  print(3/0)
except:
  print('except case')

except case

In [11]:
# try / except
try:
  print(5/0)
except ZeroDivisionError:
  print('except case ZeroDivisionError')

except case ZeroDivisionError

In [12]:
# try / except
try:
  print(7/0)
except ZeroDivisionError as e:
  print(e)

division by zero

In [13]:
# try / except / else
try:
  print(3/1)
except:
  print('except case')
else:
  print('else case')

3.0
else case

In [14]:
# try / except / finally
try:
  print(5/0)
except:
  print('except case')
finally:
  print('finally case')

except case
finally case

In [18]:
# try / except / finally
try:
  print(5/0)
  print("try test")
except NameError as n:
  print(n)
except ZeroDivisionError as z:
  print(z)
  pass

division by zero

In [20]:
# try / raise / except
try:
  print('try test')
  test = int(input())
  if test < 0:
    raise NotImplementedError   # 예외사항에 대해 처리하는 raise!
  print('test2 : ',test) 

except NotImplementedError:
  print('NotImplemented Error')

try test
30
test2 :  30

None을 return하고 전달받아 활용하게 되는 경우 오류가 발생할 수 있다.

In [21]:
# None을 return 하는 경우

def none_test(num1, num2):
    try:
        return num1 / num2
    except ZeroDivisionError:
        return None       # None 반환

# 문제없음, 단순히 None이 있는지 없는지 판단함
# result = none_test(0,2)
# print(result)
if result is None:
    print('result is None')

# 문제발생
result = none_test(0, 2)
print(result)
# 조건식에서 not을 활용하는 경우, 파이썬에서는 None, 빈문자열, 빈리스트, 0을 모두 False로 판단한다
# 단순히 결과값이 0인데도 not result 조건으로 인해 False 처리된다.
# if not result:              
#     print('not result')

NameError: ignored

In [22]:
# None을 return 하지 않는다.

def not_none_return(num1, num2):
  try:
    return num1 / num2
  except ZeroDivisionError as z:
    raise ValueError('숫자 입력값이 잘못된 경우') from z  
  else:
    print(result)

try:
    #result = not_none_return(2, 0) # case 1 - 정상적으로 except 처리
    #result = not_none_return(0, 2) # case 2 - 값 반환
except ValueError:
    print('숫자 입력값이 잘못된 경우')  # None을 반환하는 대신 예외를 발생시킨다.
else:
    print(result)

IndentationError: ignored